[submodule "yolo-v1-pytorch"]
	path = yolo-v1-pytorch
	url = https://github.com/JeffersonQin/yolo-v1-pytorch
[submodule "yolo-v2-pytorch"]
	path = yolo-v2-pytorch
	url = https://github.com/JeffersonQin/yolo-v2-pytorch
