[submodule "yolo-v1-pytorch"]
	path = yolo-v1-pytorch
	url = https://github.com/JeffersonQin/yolo-v1-pytorch
[submodule "yolo-v2-pytorch"]
	path = yolo-v2-pytorch
	url = https://github.com/JeffersonQin/yolo-v2-pytorch
[submodule "dsp-noise-analysis"]
	path = dsp-noise-analysis
	url = https://github.com/JeffersonQin/c919-noise-analysis
[submodule "OriginumAlchemy"]
	path = OriginumAlchemy
	url = https://github.com/JeffersonQin/OriginumAlchemy
